# WordPress
wp-content/
wp-config.php
wp-content/uploads/
wp-content/upgrade/
wp-content/backup-*/
wp-content/cache/
wp-content/advanced-cache.php
wp-content/object-cache.php
wp-content/plugins/hello.php
*.log
*.sql
debug.log
.env
node_modules/
.DS_Store
Thumbs.db
.sass-cache/
*.zip
*.tar.gz
*.tar.bz2
*.tar
*.gz
*.bz2
*.swp
*.swo
*.bak
*.tmp
.idea/
.vscode/
